/*  Обнуление ============================================================================================================= */
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img,
picture {
  vertical-align: top;
}

picture {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

p {
  margin: 0;
}

/* /////////////////////////// */

@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue Bold Condensed'), local('Helvetica-Neue-Bold-Condensed'),
    url('./fonts/HelveticaNeueBoldCondensed.woff2') format('woff2'),
    url('./fonts/HelveticaNeueBoldCondensed.woff') format('woff'),
    url('./fonts/HelveticaNeueBoldCondensed.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-size: 16px;
  font-family: 'Helvetica Neue';
  font-weight: 700;
  color: #000;
}

.wrapper {
  min-width: 100%;
  /* min-height: 100%; */
  padding: 40px 0;
}

._container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 19px;
}

@media (max-width: 500px) {
  .wrapper {
    padding: 20px 0;
  }

  ._container {
    padding: 0 5px;
  }
}



.banner__body {
  padding: 24px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 14px;
}

.banner__title {
  font-size: 29px;
  text-align: center;
}

.banner__desc {
  font-size: 18px;
  text-align: center;
}

.search {
  margin-bottom: 15px;
}

.search__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
}

.search__field {
  -webkit-box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.15);
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.search__field .form-group {
  margin: 0;
}

.search__input {
  padding: 23.5px 32px;
  font-size: 16px;
  width: 284px;
  border: 1px solid #c69500;
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
  border-right-width: 0;
  height: auto;

  &::-webkit-input-placeholder {
    color: #ababab;
  }

  &:-moz-placeholder {
    color: #ababab;
  }

  &::-moz-placeholder {
    color: #ababab;
  }

  &:-ms-input-placeholder {
    color: #ababab;
  }

  &::-ms-input-placeholder {
    color: #ababab;
  }

  &::placeholder {
    color: #ababab;
  }
}

.search__submit {
  font-size: 18px;
  color: #fff;
  padding: 22.5px 32px;
  background: #c69500;
}

@media (any-hover:hover) {
  .search__submit {
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .search__submit:hover {
    background: #e0aa08;
  }
}

.data {
  position: relative;
}

.cars {
  background-color: #EEEEEE;
}

.cars__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 42px;
  padding: 12px 0;
}

.cars__car {
  width: 100%;
  max-width: 204px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  overflow: hidden;
}

.cars__car img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}


@media (max-width: 384px) {
  .cars__car {
    max-width: 100%;
  }
}

.services {
  position: relative;
  /* min-height: 50px; */
}

.services ._container {
  max-width: 1000px;
}

.services__body {
  padding: 22px 0;
  overflow: auto;
}

.services__row {
  /* width: 100%; */
  border-bottom: 2px solid #eee;
  margin: 0;
}

.services__row-mob {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.services__subrow {
  margin: 0;
}

.services__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 18.5px 17px;
}

.services__code {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 14px;
}

.services__code span {
  color: #515152;
  border: 1px solid #D19C22;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 6px;
  font-size: 13px;
}

.services__code p, .services__title {
  font-size: 18px;
}

.services__item a {
  color: #337ab7;
}

/* .services__select-all {
  padding: 16px 57.65px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 64px;
  font-size: 16px;
} */

.services__service, .services__select-all {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  padding: 11.5px 15px;
}

.services__select-all {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.services__item {
  /* width: 100%; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  gap: 8px;
  word-break: break-all;
}

.services__item img {
  width: 100%;
  max-width: 59px;
  max-height: 33px;
  -o-object-fit: contain;
  object-fit: contain;
}

.request__body {
  padding: 22px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.request__title {
  font-size: 16px;
  margin-bottom: 19px;
  text-align: center;
}

.request__title span {
  color: #c69500;
}

.request__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 32.75px;
  width: 100%;
  max-width: 600px;
  padding: 0 5px;
}


.request__fields {
  width: 100%;
  margin: 0;

  /* flex-wrap: wrap;
  justify-content: center;
  row-gap: 31.5px;
  column-gap: 109px; */
}

.request__fields .form-group {
  padding: 0;
  margin: 0;
}

.request__input {
  padding: 12px 17px;
  border: 2px solid #ababab;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-size: 16px;
  /* width: 100%; */
  /* max-width: 204px; */
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: auto;
}

.request__input:focus {
  border-color: #000;
}

.request__input::-webkit-input-placeholder {
  color: #ababab;
}

.request__input:-moz-placeholder {
  color: #ababab;
}

.request__input::-moz-placeholder {
  color: #ababab;
}

.request__input:-ms-input-placeholder {
  color: #ababab;
}

.request__input::-ms-input-placeholder {
  color: #ababab;
}

.request__input::placeholder {
  color: #ababab;
}

.request__select {
  display: inline-block;
  position: relative;
  /* width: 100%;
  max-width: 204px; */
  border: 2px solid #ababab;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 0;
  height: auto;
}

.request__select input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.request__select button {
  width: 100%;
  padding: 12px 17px;
  font-size: 16px;
  text-align: left;

  -webkit-transition: all 0.3s ease 0s;

  -o-transition: all 0.3s ease 0s;

  -moz-transition: all 0.3s ease 0s;

  transition: all 0.3s ease 0s;
  background: transparent;
}

.request__select .placeholder {
  color: #ababab;
}

.request__select ul {
  width: 100%;
  position: absolute;
  left: 0;
  top: -webkit-calc(100% + 4px);
  top: -moz-calc(100% + 4px);
  top: calc(100% + 4px);
  border: 1px solid #ababab;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}

.request__select.active ul {
  opacity: 1;
  pointer-events: all;
}

.request__select li {
  font-size: 18px;
  padding: 6px 10px;
}

@media (any-hover:hover) {
  .request__select li {
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .request__select li:hover {
    background: #ebebeb;
  }
}

@media (any-hover:hover) {
  .request__select {
    cursor: pointer;
  }

  .request__select:hover {
    border-color: #000;
  }
}

.request__submit {
  color: #fff;
  font-size: 16px;
  padding: 19px 30px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #c69500;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

@media (any-hover:hover) {
  .request__submit {
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .request__submit:hover {
    background-color: #e0aa08;
  }
}

.checkbox.disabled {
  cursor: not-allowed;
}

.custom-checkbox {
  cursor: pointer;
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  -moz-appearance: none;
  appearance: none;
  /* For iOS < 15 */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 29px;
  height: 29px;
  border: 2px solid #dddddd;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transform: translateY(-0.075em);
  -moz-transform: translateY(-0.075em);
  -ms-transform: translateY(-0.075em);
  -o-transform: translateY(-0.075em);
  transform: translateY(-0.075em);

  display: -ms-grid;

  display: grid;
  place-content: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.custom-checkbox::before {
  content: "";
  width: 15px;
  height: 15px;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms -webkit-transform ease-in-out;
  -o-transition: 120ms -o-transform ease-in-out;
  -moz-transition: 120ms transform ease-in-out, 120ms -moz-transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out, 120ms -moz-transform ease-in-out, 120ms -o-transform ease-in-out;
  /* Windows High Contrast Mode */
  background-color: #fff;
}

.custom-checkbox:checked::before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  background-color: #fff;
}

.custom-checkbox:checked {
  background-color: #feca2f;
  border-color: #feca2f;
}

.custom-checkbox:focus {
  outline: transparent !important;
}

.custom-checkbox:disabled {
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .banner__title {
    font-size: 20px;
  }

  .cars__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
  }

  .cars__car {
    max-width: 60%;
  }

  .cars__car:not(:first-child) {
    display: none;
  }

  .services__body, .request__body, .banner__body, .search__body {
    padding: 10px 0;
  }

  .services__head, .search__field {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .services__service, .services__select-all {

    padding: 12px 8px;
  }

  .services__item {
    font-size: 14px;
    padding: 0 7.5px;
  }

  .request__form {
    gap: 0px;
  }

  .request__fields {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 7.5px;
  }

  .search {
    margin-bottom: 15px;
  }

  .search__input {
    width: 250px;
    padding: 14.5px 25px;
  }

  .search__input:invalid {
    border-color: #a94442;
  }

  .search__submit {
    padding: 13.5px 25px;
  }

  .custom-checkbox {
    width: 20px;
    height: 20px;
  }

  .custom-checkbox::before {
    width: 10px;
    height: 10px;
  }
}

/* ----------- Preloader ------------ */
.preloader {
  position: absolute;
  /* на весь экран */
  inset: 0;
  background: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 9999;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  -moz-transition: opacity .3s;
  transition: opacity .3s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.preloader.hidden {
  /* скрыто по умолчанию */
  opacity: 0;
  pointer-events: none;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #C69500;
  border-top-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: spin .8s linear infinite;
  -moz-animation: spin .8s linear infinite;
  -o-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  to {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}